testWorkflows/AttachmentAV_Smoke_Test.json
[
  {
    "name": "Attachment AV Smoke Tests",
    "nodes": [
    {
      "parameters": {
        "operation": "scanAUrl",
        "url": "https://www.ikarussecurity.com/wp-content/downloads/eicar_com.zip"
      },
      "type": "CUSTOM.attachmentAV",
      "typeVersion": 1,
      "position": [
        352,
        -160
      ],
      "id": "5b4746c1-2b61-476a-aeca-afe1aa0d56e7",
      "name": "Scan a Url for Maleware / Viruses",
      "credentials": {
        "attachmentAVApi": {
          "id": "BFGbk0a71fKWY967",
          "name": "AttachmentAV Account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.ikarussecurity.com/wp-content/downloads/eicar_com.zip",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        48
      ],
      "id": "77d6158a-945c-441f-b753-d2ec22ec550e",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "CUSTOM.attachmentAV",
      "typeVersion": 1,
      "position": [
        352,
        48
      ],
      "id": "1b08aa2d-8add-4baa-9475-2ecce4adabee",
      "name": "Scan a File for Maleware / Viruses",
      "credentials": {
        "attachmentAVApi": {
          "id": "BFGbk0a71fKWY967",
          "name": "AttachmentAV Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1df381c8-d2c2-4537-afdd-7e37f1ee3657",
              "leftValue": "={{ $json.status }}",
              "rightValue": "infected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        48
      ],
      "id": "35cf8960-52a3-411d-82d5-f9b8ee8e2c30",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "throw new Error(\"Repsonse != infected\")"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        64
      ],
      "id": "5fbaf8d6-aa56-4d13-ba4e-1005741b5a1d",
      "name": "Throw Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1df381c8-d2c2-4537-afdd-7e37f1ee3657",
              "leftValue": "={{ $json.status }}",
              "rightValue": "infected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -160
      ],
      "id": "8e05b8ec-f79a-452e-815e-00567b27dbc9",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "throw new Error(\"Repsonse != infected\")"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -144
      ],
      "id": "895afb9c-9f0e-41c9-b4d3-08d0135cf47e",
      "name": "Throw Error2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -160
      ],
      "id": "816b45dd-e124-4a6d-ada6-68ebbf653983",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "path": "smoke-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        80
      ],
      "id": "9f56f857-58fe-4337-b4cb-80fbb5da504a",
      "name": "Webhook",
      "webhookId": "f19ef0a8-93dd-4c80-801a-25c89a9843aa"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        -80
      ],
      "id": "77ee64fa-6ad9-4721-8b3e-0d26355b700a",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "GREEN",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1424,
        -80
      ],
      "id": "82238f68-5220-4058-9dd9-4aa3190a0747",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Scan a File for Maleware / Viruses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan a File for Maleware / Viruses": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Throw Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Throw Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan a Url for Maleware / Viruses": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Scan a Url for Maleware / Viruses",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scan a Url for Maleware / Viruses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "6724cb3c-ef46-4f79-a822-4a8a70bbd366",
    "tags": []
  }
]